.__search
{
    background-color: rgb(235, 232, 232);
    padding: 5%;
    text-align: center;
    .fa-map-marker-alt
    {
        font-size: 1.3em;
        margin-left: 15%;
        color: rgb(34, 34, 34);
    }
    input
    {
        border: none;
        font-size: 1.3em;
        padding-left: 5%;
    }
}
    

