.__concept a, .repas .commande
{
    border-radius: 20px;
    padding: 4%;
    color: white;
    box-shadow: $couleur-ombre 2px 3px 3px;
    line-height: 500%;
    background: $degrade;
    &:hover, &:focus, &:active
    {
        box-shadow: $couleur-ombre 3px 5px 5px;
        filter: brightness(110%);
    }
}
.__concept a
{
    margin: 10%;
    margin-bottom: 15%;
    padding-left: 6%;
    padding-right: 6%;
}
.repas .commande
{
    margin-left: 27%;
    padding-left: 10%;
    padding-right: 10%;
}

@media screen and (min-width: 813px)
{
    .__concept a, .repas .commande
    {
        padding: 1%;
    }
    .__concept a
    {
        margin: 20%;
        margin-bottom: 15%;
    }
    .repas .commande
    {
        margin-left: 40%;
        padding-left: 5%;
        padding-right: 5%;
        font-size: 2em;
    }
}