@font-face {
    font-family: 'shrikhand';
    src: url(https://github.com/swoget/swoget.github.io/blob/main/publique/police/shrikhand/Shrikhand-Regular.otf);}

@font-face {
    font-family: 'roboto';
    src: url(https://github.com/swoget/swoget.github.io/blob/main/publique/police/Roboto/Roboto-Regular.ttf) format('truetype');}