$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0; 

$couleur-fontclaire: rgb(246, 246, 246);
$couleur-fontfonce: rgb(234, 234, 234);
$couleur-ombre: rgb(129, 129, 129);
$font-titre: 'shrikhand';
$font-texte: 'roboto';

$degrade: linear-gradient(0deg, $couleur-primaire, $couleur-secondaire);

